body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    background: url('fundo.jpg') fixed;
    background-size: cover;
}

section {
    width: 40%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #082a41;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #2980b9;
}

input[type="text"],
input[type="password"],
input[type="submit"],
input[type="reset"] {
    width: calc(100% - 10px);
    padding: 6px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"],
input[type="reset"] {
    width: 48%;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #2980b9;
}

#a {
    font-weight: bold;
    color: #2980b9;
}
